.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  width: 200px;
}

.stat-card h3 {
  margin: 0;
  color: #333;
}

.stat-card p {
    font-size: 2rem;
    font-weight: bold;
    color: #292929;
}
